record(waveform, "TEST:$(NAME)")
{
    field(PINI, "YES")
    field(DTYP, "$(DTYP)")
    field(FTVL, "$(FTVL)")
    field(NELM, "$(NELM)")
    field(INP,  "@asyn($(driver),0) $(NAME)")
    field(SCAN, "Passive")
}
