TOP=../..

include \$(TOP)/configure/CONFIG
\#----------------------------------------
\#  ADD MACRO DEFINITIONS AFTER THIS LINE
\#=============================

\#==================================================
\# Build an IOC support library

LIBRARY_IOC += ${name}
DBD += ${name}Support.dbd
\# The following are compiled and added to the Support library
${name}_SRCS += ${name}.cc 
${name}_LIBS += cpsw
${name}_LIBS += DeviceLibrary
${name}_LIBS += \$(EPICS_BASE_IOC_LIBS)

INC += ${name}.h

USER_INCLUDES += ../../frameworkSrc
USER_INCLUDES += ../frameworkSrc

PROD_IOC += ${name}App
DBD += ${name}App.dbd
${name}App_DBD += base.dbd asyn.dbd
${name}App_DBD += ${name}Support.dbd
#for $p in $peripherals
${name}App_DBD += ${p.name}DriverSupport.dbd
#end for

${name}App_SRCS_DEFAULT += ${name}App_registerRecordDeviceDriver.cpp ${name}AppMain.cpp 
${name}App_LIBS += ${name}
#for $p in $peripherals
${name}App_LIBS += ${p.name}
#end for
${name}App_LIBS += cpsw
${name}App_LIBS += asyn
PROD_LIBS += cpsw

include \$(TOP)/configure/RULES
\#----------------------------------------
\#  ADD RULES AFTER THIS LINE

